*{
  box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* header, SECTION 1, & general layout & style */
html{
  font-family: 'Oswald', sans-serif;
}
.sectionLarge, .sectionSlim{
  border: 1px solid transparent;
  width: 100%;
  height: 500px;
  /* overflow: auto; */
  text-align: center;
  position: relative;
}
.sectionSlim{
  height: 300px;
}
.logo{
  height: auto;
  width: 4%;
  margin-top: -53px;
  margin-right: -62px;
}
.sectionLarge{
  background-color: steelblue;
}
.sectionLarge ul{
  list-style-type: none;
  position: absolute;
  color:white;
}
.sectionLarge ul li{
  display: inline;
  float:left;
}
.hireUs{
  margin-left: 8px;
}
.donateButton{
  top: -7px;
  color: steelblue;
  background-color: white;
  position: absolute;
  padding: 9px;
  left: 89%;
}
.sectionLarge h1,.sectionLarge p, .videoButton{
  margin-bottom: 39px;
  bottom: -87px;
  position: relative;
  color:white;
  background-color: steelblue;
  margin-left: 15%;
  margin-right: 15%;
}
h1{
  font-size:45px;
}
/* SECTION 2 */
.sectionSlim p{
  margin-left: 25%;
  margin-right: 25%;
}

/* SECTION 3 */
.differentColorBkgd {
  background-color: tan;
}
.differentColorBkgd p{
  margin-left: 43%;
  margin-right: 15%;
  background-color: tan;
  color: black;
}

.differentColorBkgd figure, {
  display: inline-block;
  /* float: left; */
  position: relative;
}
.differentColorBkgd img{
height: auto;
width: 32%;
}
.leftPic{
  position: relative;
  left: -28%;
}
.leftText{
  position: relative;
  left: -41%;
  top: -5px;
}
.leftButton{
  position: relative;
  left: -28%;
  top: -30px;
  background-color: tan;
  padding: 1%;

}
.rightPic{
  position: relative;
  left: 22%;
  bottom: 494px;
}
.rightText{
  position: relative;
  left: 7%;
  bottom: 502px;
  top: -493px;

}
.rightButton{
  position: relative;
  left: 19%;
  bottom: 519px;
  background-color: tan;
  padding: 1%;
}
/* SECTION 4*/
.volunteerText{
  bottom: 36px;
  position: relative;
}
.sectionSlim h1{
  position: relative;
  bottom:18px;
}
.volButton{
  background-color: white;
  padding: 1%;
}
/* FOOTER  */
footer{
  background-color: black;
  color: white;
}
.address{
  text-align: right;
}
.socialLinks{
  text-align: left;
  position: relative;
  top: 105px;
}

/* IPAD */
@media (min-width:501px) and (max-width:770px){

/* Everything still looks good in these parameters so no need */
}
/* MOBILE */
@media only screen and (max-width:500px){
 .gritText{
  display:none;
}
.sectionLarge h1{
  margin-left: 0%;
  margin-right: 0%;
}
.donateButton{
  left:77%;
}
.logo{
  width: 25%;
  margin-top: 0px;
  margin-right: 0px;
}
.sectionSlim{
  overflow: scroll;
}
.differentColorBkgd{
  overflow: scroll;
}
.rightPic{
  bottom: 724px;
}
.rightText{
  top: -728px;
}
.rightButton{
  bottom: 755px;
}
.socialLinks{
  top: 0px;
}
}
